.about-container {
  background-color: #040F16;
  color: white;
  width: 100%;
  display: flex;
  justify-content: center;
}

.about-sub-container {
  width: 85%;
}

.about-tilte-contain {
  display: flex;
  justify-content: center;
  margin: 70px
}

.about {
  font-family: 'Montserrat', sans-serif;
  font-weight: 800;
  font-size: 50px;
  color: #0094C6;
}

.description-contain {
  align-items: center;
  display: flex;
  justify-content: center;
}

.description-doug-contain {
  display: flex;
  flex-direction: column;
}

.description-doug {
  margin: 10px 30px;
  font-size: 30px;
  font-family: 'Montserrat', sans-serif;
}

.description {
  margin: 30px;
  width:  500px;
  line-height: 1.5;
  font-size: 18px;
  font-family: "Helvetica Neue", "Helvetica";
}

@media screen and ( min-width: 767px) and (max-width: 1023px) {
  .description-contain img {
    display: none;
  }

  .description-contain {
    flex-direction: column;
    flex-wrap: wrap;
  }
}

@media screen  and ( min-width: 479px) and (max-width: 767px) {
  .description-contain img {
    display: none;
  }

  .description-contain {
    flex-wrap: wrap;
  }
}

@media screen and ( max-width: 479px) {
  .description-contain img {
    display: none;
  }

  .description-contain {
    flex-wrap: wrap;
  }

  .description-doug-contain {
    flex-wrap: wrap;
  }
}
