.apresentation-container {
  overflow-x: hidden;
  background-color: #060606;
  width: 100%;
  color: white;
  display: flex;
  justify-content: center;
  height: 100vh;
}

.apresentation-sub-container {
  align-items: center;
  display: flex;
  justify-content: space-around;
  width: 85%;
}

.apresentation {
  font-family: 'Poppins', sans-serif;
  /* line-height: 2; */
  width: 50%;
}

.hello {
  color: #E7ECEF;
  font-size: calc(75% + 1.5vmin);
  line-height: 2;
}

.douglas {
  color: #E7ECEF;
  font-size: calc(75% + 4.5vmin);
}

.develop {
  font-size: calc(75% + 3.1vmin);
  color: #0094C6; 
}

.contain-buttons {
  width: 70%;
  display: flex;
  align-items: center;
}

.contain-buttons a {
  padding: 10px;
  width: 100%;
  font-size: calc(75% + 0.5vmin);
  font-weight: 700;
}

.download {
  border-radius: 5px;
  border: none;
  background-color: #0094C6;
  color: #ffffff;
  font-family: 'Montserrat', sans-serif;
  font-size: 18px;
  font-weight: 700;
  text-decoration: none;
  text-align: center;
  margin: 0 10px;
  width: 100%;
  padding: 5px;
}

.icon-download {
  margin: 0 10px;
}

.download:hover {
  opacity: 0.7;
  cursor: pointer;
  color: #FFFFFF;
}

.enter-contact {
  border-radius: 5px;
  border: 1px solid #0094C6;
  background-color: inherit;
  color: white;
  font-family: 'Montserrat', sans-serif;
  font-size: 18px;
  font-weight: 700;
  text-decoration: none;
  text-align: center;
  margin: 0 10px;
  width: 100%;
  padding: 5px;
}

.enter-contact:hover {
  cursor: pointer;
  color: #0094C6;
}

.img-me {
  /* margin-top: 70px; */
  width: 50%;
}

@media screen and (max-width: 1023px) {
  .apresentation-sub-container {
    margin-top: 40px;
  }

  .apresentation {
    margin-top: 50px;
  }

  .icon-download {
    display: none;
  }

  .contain-buttons {
    flex-direction: column;
  }

  .contain-buttons a {
    margin: 10px;
  }

}

@media screen and (max-width: 685px) {
  .apresentation-sub-container {
    width: 100%;
  }

  .apresentation {
    width: 90%;
  }

  .img-me {
    display: none;
  }
  
}

@media screen and ( max-width: 479px) {
  .apresentation-sub-container {
    /* border: 1px solid red; */
    flex-direction: column;
  }

  .apresentation {
    /* border: 1px solid red; */
    flex-direction: column;
    width: 90%;
  }

  .contain-buttons {
    /* border: 1px solid red; */
    flex-direction: column;
    width: 100%;
    margin-top: 70px;
  }

  .contain-buttons a {
    margin: 10px;
  }
  
  .img-me {
    display: none;
  }
  
}



