.apresentation-container {
  background-color: #060606;
  width: 100%;
  color: white;
  display: flex;
  justify-content: center;
}

.apresentation-sub-container {
  align-items: center;
  display: flex;
  justify-content: space-around;
  width: 85%;
}

.apresentation {
  font-family: 'Montserrat', sans-serif;
  line-height: 2;
  width: 50%;
}

.hello {
  color: #E7ECEF;
  font-size: 30px;
  line-height: 3;
}

.douglas {
  color: #E7ECEF;
  font-size: 50px;
}

.develop {
  font-size: 40px;
  color: #0094C6; 
}

.contain-buttons {
  display: flex;
  align-items: center;
}

.contain-buttons a {
  width: 100%;
}

.download {
  border-radius: 5px;
  border: none;
  background-color: #0094C6;
  color: white;
  font-family: 'Montserrat', sans-serif;
  font-size: 18px;
  font-weight: 700;
  margin: 0 10px;
  width: 100%;
  padding: 5px;
}

.icon-download {
  margin: 0 10px;
}

.download:hover {
  opacity: 0.7;
  cursor: pointer;
}

.enter-contact {
  text-align: center;
  text-decoration: none;
  color: white;
  background-color: #060606;
  border-radius: 5px;
  border: none;
  border: 1px solid #0094C6;
  font-family: 'Montserrat', sans-serif;
  font-size: 18px;
  font-weight: 700;
  padding: 5px;
}

.enter-contact:hover {
  cursor: pointer;
  color: #0094C6;
}

.img-me {
  margin-top: 70px;
  width: 50%;
}

@media screen and ( min-width: 617px) and (max-width: 1023px) {
  .apresentation-sub-container {
    margin-top: 40px;
  }

  .apresentation {
    margin-top: 50px;
  }

  .hello {
    font-size: 1rem;
    line-height: 1;
  }

  .douglas {
    font-size: 2rem;
  }
  
  .develop {
    font-size: 1.2rem;
  }

  .icon-download {
    display: none;
  }

  .download {
    margin: 0 5px;
    font-size: 0.8rem;
  }

  .enter-contact {
    font-size: 0.8rem;
  }
}

@media screen  and ( min-width: 479px) and (max-width: 617px) {

  .apresentation-sub-container {
    margin-top: 40px;
  }

  .apresentation {
    margin-top: 50px;
  }

  .hello {
    font-size: 0.9rem;
    line-height: 1;
  }

  .douglas {
    font-size: 1.5rem;
  }
  
  .develop {
    font-size: 0.9rem;
  }

  .icon-download {
    display: none;
  }

  .download {
    margin: 0 5px;
    font-size: 0.5rem;
  }

  .enter-contact {
    font-size: 0.5rem;
  }
}

@media screen and ( max-width: 479px) {

  .apresentation-sub-container {
    margin-top: 10px;
  }

  .apresentation {
    margin-top: 100px
  }

  .hello {
    font-size: 0.6rem;
    line-height: 2;
  }

  .douglas {
    font-size: 0.9rem;
  }
  
  .develop {
    font-size: 0.7rem;
  }

  .contain-buttons {
    flex-direction: column;
    align-items: center;
    width: 70%;
  }

  .icon-download {
    display: none;
  }

  .download {
    margin: 10px 0;
    font-size: 0.5rem;
    width: 100%;
  }

  .enter-contact {
    font-size: 0.5rem;
    width: 100%;
  }
}