.contact-container {
  background-color: #040F16;
  color: white;
  display: flex;
  width: 100%;
  justify-content: center;
}

.contact-sub-container {
  display: flex;
  justify-content: center;
  width: 85%;
  flex-direction: column;
  margin: 70px
}

.contact-contain {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.contact-title {
  font-family: 'Montserrat', sans-serif;
  font-weight: 800;
  font-size: 50px;
  color: #0094C6;
}

.icons-contact-contain {
  display: flex;
  margin-top: 30px;
  justify-content: center;
}

.icons {
  width: 40px;
  height: 40px;
  margin: 0 10px;
}

.whatsapp {
  align-items: center;
  display: flex;
  font-family: 'Montserrat', sans-serif;
  margin-left: 30px;
}

.info-whatsapp {
  margin: 17px 10px;
}

.info-whatsapp a {
  text-decoration: none;
  color: #FFF;
}


@media screen and ( min-width: 767px) and (max-width: 1023px) {
  .icons-contact-contain {
    flex-direction: column;
  }
  .whatsapp {
    align-items: center;
    text-align: center;
    flex-direction: column;
  }
}

@media screen  and ( min-width: 479px) and (max-width: 767px) {
  .icons-contact-contain {
    flex-direction: column;
  }
  .whatsapp {
    align-items: center;
    text-align: center;
    flex-direction: column;
  }
}

@media screen and ( max-width: 479px) {
  .whatsapp {
  align-items: center;
  text-align: center;
  flex-direction: column;
  }

  .icons-contact-contain {
    align-items: center;
    flex-direction: column;
  }
}
