.footer-container {
  overflow-x: hidden;
  background-color: #060606;
  justify-content: center;
  display: flex;
  width: 100%;
  height: 250px;
}

.footer-sub-container {
  align-items: center;
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 85%;
}

.icons-sociais {
  color: #FFF;
  width: 35px;
  height: 35px;
  margin: 20px 15px;
}

.icons-sociais:hover {
  color: #0094C6;
  transition: 0.5s;
}

.options-container {
  display: flex;
  color: #FFF;
  margin-bottom: 50px;
}

.copyright {
  color: #FFF;
  font-family: 'Montserrat', sans-serif;
  font-size:  14px;
}

.footer-sobre a {
  font-size: 15px;
  margin: 0 10px;
  font-weight: 100;
}