.project-container {
  align-items: center;
  flex-direction: column;
  background-color: #060606;
  color: white;
  display: flex;
  width: 100%;
  justify-content: center;
  color: black;
}

.project-sub-container {
  align-items: center;
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 60%;
  color: black;
  margin: 70px;
}

.project-title {
  margin-top: 50px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 800;
  font-size: 50px;
  color: #0094C6;
}

.projects {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: 100%;
}

.projects-1 {
  background-color: #E7ECEF;
  display: flex;
  padding: 15px;
  width: 300px;
  border-radius: 5px;
  margin: 30px 10px;
}

.projects-1:hover {
  cursor: pointer;
  transition: 0.4s;
  transform: scale(1.05);
}
